language: python

python:
   - "3.5"

sudo: false

install:
    - pip install --upgrade pip
    - pip --version
    - pip install coverage
    - pip install numpy
    - pip install flask
    - pip install flask-script
    - pip install flask-sqlalchemy
    - pip install flask-testing
    - pip install pymysql
    - pip install gunicorn

before_script:
    - uname -a
    - printenv
    - pip list
    - coverage --version

script:
    - date
    - make test
