<section>
    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="section-heading">About</h1>
            <h3 class="section-subheading text-muted">Meet The Team</h3>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="../img/team/Samuel.jpg" class="img-responsive img-circle" alt="">
                    <h4>Samuel You</h4>
                    <p class="text-muted">Front End</p>
                    <dl>
                        <dt>Bio:</dt>
                        <dd>Just a CS Student trying to make it in the industry.</dd>
                        <dt>Major Responsibilities: </dt>
                        <dd>Phase 1 team leader. Created "About" page and "Splash" Page, helped with other front end stuff.</dd>
                        <dt>Number of Commits:</dt>
                        <dd>9</dd>
                        <dt>Number of Issues:</dt>
                        <dd>10</dd>
                        <dt>Number of Unit Tests:</dt>
                        <dd>6</dd>
                    </dl>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="../img/team/Adolfo.jpg" class="img-responsive img-circle" alt="">
                    <h4>Adolfo Muller</h4>
                    <p class="text-muted">Front End</p>
                    <dl>
                        <dt>Bio:</dt>
                        <dd>Adolfo enjoys going on long runs which help him think about how to build a better website. Due to this project he was not able to go running a lot. </dd>
                        <dt>Major Responsibilities: </dt>
                        <dd>Bootstrap and CSS. Formated data tables.</dd>
                        <dt>Number of Commits:</dt>
                        <dd>44</dd>
                        <dt>Number of Issues:</dt>
                        <dd>8</dd>
                        <dt>Number of Unit Tests:</dt>
                        <dd>4</dd>
                    </dl>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="../img/team/Chris.jpg" class="img-responsive img-circle" alt="">
                    <h4>Chris Getz</h4>
                    <p class="text-muted">Backend</p>
                    <dl>
                        <dt>Bio:</dt>
                        <dd> Chris is a junior CS student. While not coding or doing class work he enjoys playing ultimate, swing dancing, and boardgames </dd>
                        <dt>Major Responsibilities:</dt>
                        <dd>Flask App, Database</dd>
                        <dt>Number of Commits:</dt>
                        <dd>16</dd>
                        <dt>Number of Issues:</dt>
                        <dd>10</dd>
                        <dt>Number of Unit Tests:</dt>
                        <dd>5</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="../img/team/David.jpg" class="img-responsive img-circle" alt="">
                    <h4>David Talamas</h4>
                    <p class="text-muted">Full Stack</p>
                    <dl>
                        <dt>Bio:</dt>
                        <dd> David enjoys country music and two step dancing. He likes blue jeans and pick up trucks. Everything that makes a good Texan. </dd>
                        <dt>Major Responsibilities:</dt>
                        <dd>Setup AngularJS and Apiary</dd>
                        <dt>Number of Commits:</dt>
                        <dd>7</dd>
                        <dt>Number of Issues:</dt>
                        <dd>9</dd>
                        <dt>Number of Unit Tests:</dt>
                        <dd>6</dd>
                    </dl>
                </div>
            </div>
             <div class="col-sm-4">
                <div class="team-member">
                    <img src="../img/team/Lincoln.jpg" class="img-responsive img-circle" alt="">
                    <h4>Lincoln Turner</h4>
                    <p class="text-muted">Full Stack</p>
                    <dl>
                        <dt>Bio:</dt>
                        <dd>If he's not eating, he's coding. In his free time he enjoys cooking, dancing, and thinking about coding.</dd>
                        <dt>Major Responsibilities:</dt>
                        <dd>Hosting and setting up API</dd>
                        <dt>Number of Commits:</dt>
                        <dd>25</dd>
                        <dt>Number of Issues:</dt>
                        <dd>5</dd>
                        <dt>Number of Unit Tests:</dt>
                        <dd>3</dd>
                    </dl>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <h4>Team Stats Summary</h4>
                    <dl>
                        <dt>Total no. of commits:<dd>101</dd></dt>
                        <dt>Total no. of issues: <dd>52</dd></dt>
                        <dt>Total no. of unit tests:<dd>24</dd></dt>
                    </dl>
                    <a href="" class="btn btn-xl" ng-click="runUnitTests()">Run Unit Tests</a>
                    <pre>{{unitTestOutput}}</pre>
                </div>
            </div>
        </div>
        <center>
        <h3>Data:</h3>
        <h4>
        <a href="http://developer.edmunds.com/api-documentation/overview/index.html">Edmund's Vehicle Dataset API</a><br>
        Edmund's API played a vital role in helping the team retrieve large amounts of vehicle data from numerous major manufacturers. This data allowed the team to establish unique models for different vehicles and manufacturers. Our hope is to help our users find their own perfect car by helping them understand the complex relationships between different makes and models from only the best manufacturers.<br>
        </h4>
        </center>
        <h3>External Links:</h3>
        <h4>
            <a href="http://docs.carsapi1.apiary.io">Apiary Cars API</a><br>
            <a href="https://github.com/talamas/cs373-idb/issues">GitHub Issue Tracker</a><br>
            <a href="https://github.com/talamas/cs373-idb.git">GitHub Repo</a><br>
            <a href="https://github.com/talamas/cs373-idb/wiki">GitHub Wiki</a><br>
            <a href="http://docs.sweetspots.apiary.io/#"> SWEetSpots API</a><br>
            <a href="https://speakerdeck.com/samuely94/sweetrides-presentation">SpeakerDeck</a><br>
        </h4>
        <h3>Tools:</h3>
        <h4>
        <a href="http://apiary.io/">Apiary API</a><br>
        <a href="https://angularjs.org/">Angular JS</a><br>
        <a href="http://getbootstrap.com/">Bootstrap</a><br>
        <a href="https://pypi.python.org/pypi/coverage/3.7.1/">Coverage</a><br>
        <a href="http://flask.pocoo.org/">Flask</a><br>
        <a href="https://pythonhosted.org/Flask-SQLAlchemy/">Flask SQLAlchemy</a><br>
        <a href="https://education.github.com/">GitHub</a><br>
        <a href="https://www.rackspace.com/">Rackspace (Carina and Docker)</a><br>
        <a href="https://slack.com/">Slack</a><br>
        <a href="https://travis-ci.com/">Travis CI</a><br>
        <a href="https://docs.python.org/3.4/library/unittest.html">unittest</a><br>
        <a href="http://yuml.me/">yUML</a><br>
        <a href="http://pydoc.org/">pydoc</a><br>
        </h4>
    </div>
</section>