<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SWEg Cars - Manufacturer Table</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Added by Talamas, conflicts with scrolling, has green colors
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
-->
    <!-- Custom CSS -->
    <link href="../css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../css/montserrat.css" rel="stylesheet" type="text/css">
    <link href='../css/kaushan_script.css' rel='stylesheet' type='text/css'>
    <link href='../css/droid_serif.css' rel='stylesheet' type='text/css'>
    <link href='../css/roboto_slab.css' rel='stylesheet' type='text/css'>
     <style>
        body {  }
    </style>

    <!-- JS -->
    <script src="../js/angular.min.js"></script>
    <script src="../sorting.js"></script>


</head>

<body id="page-top" class="index" ng-app="sortApp" ng-controller="mainController" style="padding-top:100px">

    <!-- Navigation -->
    <nav class="navbar navbar-default table navbar-fixed-top navbar-default-table">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="../index.html">SWEg Cars</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="../index.html"></a>
                    </li>
                    <li ng-class="{active: $route.current.activeTab == 'Manufacturers'}">
                        <a href="manufacturerTable.html">Manufacturers</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="carsTable.html">Cars</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="about.html">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

     <!--cars Table Section-->
    <section id="cars" class="bg-light-gray">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">cars</h2>
            <h3 class="section-subheading text-muted">Checkout our vast selection.</h3>
        </div>
        
        <table class="table table-hover center-block table-condensed" style="width:70%">
        <thead>
            <tr>
                <th class="col-md-1" style="width:1%">
                    <a class="column" href="#!" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                        Id
                        <span ng-show="sortType =='id' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType =='id' &&  sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="col-md-1">
                    Picture
                </th>
                <th class="col-md-1">
                    <a class="column" href="#!" ng-click="sortType = 'make'; sortReverse = !sortReverse">
                         Make
                        <span ng-show="sortType =='make' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType =='make' &&  sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="col-md-1">
                    <a class="column" href="#!" ng-click="sortType = 'model'; sortReverse = !sortReverse">
                         Model
                        <span ng-show="sortType =='model' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType =='model' &&  sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="col-md-1">
                    <a class="column" href="#!" ng-click="sortType = 'year'; sortReverse = !sortReverse">
                          Year
                        <span ng-show="sortType =='year' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType =='year' &&  sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="col-md-1">
                    <a class="column" href="#!" ng-click="sortType = 'price'; sortReverse = !sortReverse">
                         Price
                        <span ng-show="sortType =='price' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType =='price' &&  sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="col-md-1">
                    <a class="column" href="#!" ng-click="sortType = 'safety'; sortReverse = !sortReverse">
                          Safety Rating
                        <span ng-show="sortType =='safety' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType =='safety' &&  sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>           
            <tr ng-repeat="car in cars | orderBy:sortType:sortReverse" data-target="{{car.dataTarget}}" class="cars-link" data-toggle="modal">
                <td>{{car.id}}</td>
                <td><img ng-src='../{{car.img}}' class="img-responsive" alt=""> </td>
                <td>{{car.make}}</td>
                <td>{{car.model}}</td>
                <td>{{car.year}}</td>
                <td>${{car.price}}</td>
                <td>{{car.safety}}/5</td>
            </tr>
        </tbody>
    </table>
</section>
    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/classie.js"></script>
    <script src="../js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>
    <script src="../js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/agency.js"></script>
</body>
</html>