<section>   
    <div class="container" >
        <div class="col-lg-12 text-center">
            <h2 class="section-heading" style="padding-top:30px">Engines</h2>
            <h3 class="section-subheading text-muted">Look at all these engines.</h3>
        </div>
        <!--Engine Table Section-->
        <table class="table table-hover center-block table-condensed" style="width:500%">
            <thead>
                <tr>              
                    <th class="col-md-2">
                        <a class="column" href="#/engines" ng-click="sortTypeMan = 'name'; sortReverseMan = !sortReverseMan">
                            Name
                            <span ng-show="sortTypeMan =='name' && !sortReverseMan" class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeMan =='name' &&  sortReverseMan" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="col-md-2">
                        <a class="column" href="#/engines" ng-click="sortTypeMan = 'cylinder'; sortReverseMan = !sortReverseMan">
                             Cyclinder
                            <span ng-show="sortTypeMan =='country' && !sortReverseMan" class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeMan =='country' &&  sortReverseMan" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="col-md-2">
                        <a class="column" href="#/engines" ng-click="sortTypeMan = 'horsepower'; sortReverseMan = !sortReverseMan">
                             Horsepower
                            <span ng-show="sortTypeMan =='avgSafety' && !sortReverseMan" class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeMan =='avgSafety' &&  sortReverseMan" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="col-md-2">
                        <a class="column" href="#/engines" ng-click="sortTypeMan = 'torque'; sortReverseMan = !sortReverseMan">
                              Torque
                            <span ng-show="sortTypeMan =='avgPrice' && !sortReverseMan" class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeMan =='avgPrice' &&  sortReverseMan" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="col-md-1">
                        <a class="column" href="#/engines" ng-click="sortTypeMan = 'fuelType'; sortReverseMan = !sortReverseMan">
                             Fuel Type
                            <span ng-show="sortTypeMan =='modelsNum' && !sortReverseMan" class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeMan =='modelsNum' &&  sortReverseMan" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>           
                <tr dir-paginate="engine in engines | orderBy:sortTypeMan:sortReverseMan | itemsPerPage:10" data-target="{{engine.dataTarget}}" class="cars-link" data-toggle="modal" ng-click="goToEngine(engine)">
                    <td>{{engine.name}}</td>
                    <td>{{engine.cylinder}}</td>
                    <td>{{engine.horsepower}}</td>
                    <td>{{engine.torque}}</td>
                    <td>{{engine.fuelType}}</td>
                </tr>
            </tbody>
        </table><dir-pagination-controls max-size="7" direction-links="true" boundary-links="true"></dir-pagination-controls>
    </div>
     <br>
    <h2 align="center">ADVERTISEMENTS</h2>
    <div class="row adverts">
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail" ng-click="goToCity(restaurant.city_id)">
                <img ng-src='{{restaurant.image}}' class="img-responsive"  alt="">
                <div class="caption">
                    <h4><a href="">{{restaurant.name}}</a>
                    </h4>
                    <p>This {{restaurant.category}} is located at {{restaurant.address}}.</p>
                    <p>Rating: {{restaurant.rating}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail" ng-click="goToCity(attraction.city_id)">
                <img ng-src='{{attraction.image}}' class="img-responsive"  alt="">
                <div class="caption">
                    <h4><a href="">{{attraction.name}}</a>
                    </h4>
                    <p>This {{attraction.category}} has {{attraction.num_reviews}} reviews.</p>
                    <p>Rating: {{attraction.rating}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
