<section>  
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading" style="padding-top:30px">{{engine.name}}</h2>
        </div>
        <img class="img-responsive img-centered modal-image" ng-src="{{car.img_url}}" alt="">
        <br>        

        <ul class="attribute">
                    <li>Num of Cylinders: {{engine.cylinder}}</li>
                    <li>Horsepower: {{engine.horsepower}}</li>
                    <li>Torque: {{engine.torque}}</li>
                    <li>Fuel Type: {{engine.fuelType}}</li>
        </ul>
        <br>
        <br>

      <!-------------------------------------------------------------->
   <!--
        <td>{{man.id}}</td>
        <td><img ng-src='{{man.img_url}}' class="img-responsive  img.manufacturer" alt=""> </td>
        <td>{{man.name}}</td>
        <td>{{man.avg_price|number:2}}</td>
        <td>{{man.avg_horsepower|number:2}}</td>
        <td>${{man.avg_price|number:2}}</td>
        <td>{{man.num_models}}</td>
    -->
    <div class="col-md-12 text-left">
        <h2 class="section-heading ">Related Manufacturers</h2>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-5 col-sm-6 cars-item" ng-repeat="man in mans | orderBy:random | limitTo:-3"  class="cars-link" data-toggle="modal" ng-click="goToMan(man)">
            <div class="cars-hover">
                <div class="cars-hover-content">
                    <i class="fa fa-plus fa-3x"></i>
                </div>
            </div>
            <img ng-src='{{man.img_url}}' class="img-responsive" alt="">
            <div class="cars-caption">
                <h4 align="">{{man.name}}</h4>
            </div>
        </div>
    </div>

    <div class="col-md-12 text-left">
        <h2 class="section-heading ">Related Cars</h2>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-5 col-sm-6 cars-item" ng-repeat="car in cars | filter:man.name | limitTo:-4"  class="cars-link" data-toggle="modal" ng-click="goToCar(car)">
            <div class="cars-hover">
                <div class="cars-hover-content">
                    <i class="fa fa-plus fa-3x"></i>
                </div>
            </div>
            <img ng-src='{{car.img_url}}' class="img-responsive" alt="">
            <div class="cars-caption">
                <h4 >{{car.make}} {{car.model}}</h4>
            </div>
        </div>
    </div>

    <a href="#/cars" class="btn btn-lg" data-target="#cars">Back to Cars</a>    </div>


</section>
