<header id="page-top">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">A robust catalog of cars and their manufactuers!</div>
                <div class="intro-heading">Brought to you by TEAM SWEg</div>
            </div>
        </div>
</header>
<section class="intro_padding" padding="60px">
    <h2  >Introduction</h2>
    <p>SWEg Cars is proud to present SweetRides.me, a modern website where anyone can find their next personal car. We offer a wide variety: from the hands on Ram truck driver to the more luxurious Rolls Royce driver, anyone can find their ideal car. Buying a car is a stressful and, for many of us, unavoidable ordeal. Wouldn't it be better if you could just go online, look at a huge selection of cars, find out what price it goes for in the market and other information about it then just walk into a dealership and know exactly what you want? No more dealing with shady car salesmen trying to squeeze the extra dollar from you.</p>

    <p>For many of us it has always been a dream to buy the latest sports car on the market, unfortunately for us we are college students who have to pay ever increasing tuition, but we are CS students which means we will eventually make enough money to buy what ever car we want (although we might no have time to drive it). Our team decided to make this project about the latest cars in order to learn more about them and to teach others about them, and besides who doesn't love looking at new cars?</p>

    <h2>Problems & Purpose</h2>

    <p>There are many things about cars that most of us don't know when buying a car, even less when comparing one car to another since they include more specifications that are not available to the typical consumer. We have found Restful APIs that include information about these type of cars and we will use them to display what we consider to be the most important information about the cars, the companies that manufacture them, and the engines that power them.</p>

    <p>One of the main problems that we will face (apart from it being the first time we use many of these services) is to understand what are the most important attributes of a car. While many of us feel strongly towards a certain color or wheel size, there are many more important features like horsepower that we ignore. We hope that whoever uses this application will know more about cars than before.</p>
</section>

