<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SWEg Cars</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Added by Talamas, conflicts with scrolling, has green colors
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
-->
    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/montserrat.css" rel="stylesheet" type="text/css">
    <link href='css/kaushan_script.css' rel='stylesheet' type='text/css'>
    <link href='css/droid_serif.css' rel='stylesheet' type='text/css'>
    <link href='css/roboto_slab.css' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- CSS -->
    
    <style>
        body { padding-top:50px; }
    </style>

    <!-- JS -->
    <script src="js/angular.min.js"></script>
    <script src="sorting.js"></script>


</head>

<body id="page-top" class="index" ng-app="sortApp" ng-controller="mainController">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">SWEg Cars</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#manufacturers">Manufacturers</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#cars">Cars</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Our Project!</div>
                <div class="intro-heading">Brought to you by TEAM SWEg</div>
                <a href="#manufacturers" class="page-scroll btn btn-xl">Get Started</a>
            </div>
        </div>
    </header>

    <!-- manufacturers Section -->
    <section id="manufacturers" >
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">manufacturers</h2>
            <h3 class="section-subheading text-muted">Only the best.</h3>
        </div>
        
        <background="img/manufacturers/manufacturers-bg.jpg">
        <!--cars Table Section-->
        <table class="table table-hover center-block" style="width:80%">
            <thead>
                <tr>                  
                    <th class="col-md-1">
                        Picture
                    </th>
                    <th class="col-md-1">
                        <a class="column" href="#!" ng-click="sortTypeMan = 'name'; sortReverseMan = !sortReverseMan">
                            Name
                            <span ng-show="sortTypeMan =='name' && !sortReverseMan" class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeMan =='name' &&  sortReverseMan" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="col-md-1">
                        <a class="column" href="#!" ng-click="sortTypeMan = 'country'; sortReverseMan = !sortReverseMan">
                             Country
                            <span ng-show="sortTypeMan =='country' && !sortReverseMan" class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeMan =='country' &&  sortReverseMan" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="col-md-1">
                        <a class="column" href="#!" ng-click="sortTypeMan = 'avgSafety'; sortReverseMan = !sortReverseMan">
                             Avg Safety Rating
                            <span ng-show="sortTypeMan =='avgSafety' && !sortReverseMan" class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeMan =='avgSafety' &&  sortReverseMan" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="col-md-1">
                        <a class="column" href="#!" ng-click="sortTypeMan = 'avgPrice'; sortReverseMan = !sortReverseMan">
                              Avg Price
                            <span ng-show="sortTypeMan =='avgPrice' && !sortReverseMan" class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeMan =='avgPrice' &&  sortReverseMan" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="col-md-1">
                        <a class="column" href="#!" ng-click="sortTypeMan = 'modelsNum'; sortReverseMan = !sortReverseMan">
                             Num Models
                            <span ng-show="sortTypeMan =='modelsNum' && !sortReverseMan" class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeMan =='modelsNum' &&  sortReverseMan" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>           
                <tr ng-repeat="man in manufacturers | orderBy:sortTypeMan:sortReverseMan" data-target="{{man.dataTarget}}" class="cars-link" data-toggle="modal">
                    <td><img ng-src='{{man.img}}' class="img-responsive  img.manufacturer" alt=""> </td>
                    <td>{{man.name}}</td>
                    <td>{{man.country}}</td>
                    <td>{{man.avgSafety}}/5</td>
                    <td>${{man.avgPrice}}</td>
                    <td>{{man.modelsNum}}</td>
                </tr>
            </tbody>
        </table>
    </section>


    <!--cars Table Section-->
    <section id="cars" class="bg-light-gray">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">cars</h2>
            <h3 class="section-subheading text-muted">Checkout our vast selection.</h3>
        </div>
        
        <table class="table table-hover center-block" style="width:80%">
        <thead>
            <tr>
                <th class="col-md-1">
                    Picture
                </th>
                <th class="col-md-1">
                    <a class="column" href="#!" ng-click="sortType = 'makeId'; sortReverse = !sortReverse">
                        Make id
                        <span ng-show="sortType =='makeId' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType =='makeId' &&  sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="col-md-1">
                    <a class="column" href="#!" ng-click="sortType = 'make'; sortReverse = !sortReverse">
                         Make
                        <span ng-show="sortType =='make' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType =='make' &&  sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="col-md-1">
                    <a class="column" href="#!" ng-click="sortType = 'model'; sortReverse = !sortReverse">
                         Model
                        <span ng-show="sortType =='model' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType =='model' &&  sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="col-md-1">
                    <a class="column" href="#!" ng-click="sortType = 'year'; sortReverse = !sortReverse">
                          Year
                        <span ng-show="sortType =='year' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType =='year' &&  sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="col-md-1">
                    <a class="column" href="#!" ng-click="sortType = 'price'; sortReverse = !sortReverse">
                         Price
                        <span ng-show="sortType =='price' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType =='price' &&  sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="col-md-1">
                    <a class="column" href="#!" ng-click="sortType = 'safety'; sortReverse = !sortReverse">
                          Safety Rating
                        <span ng-show="sortType =='safety' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType =='safety' &&  sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>           
            <tr ng-repeat="car in cars | orderBy:sortType:sortReverse" data-target="{{car.dataTarget}}" class="cars-link" data-toggle="modal">
                <td><img ng-src='{{car.img}}' class="img-responsive" alt=""> </td>
                <td>{{car.makeId}}</td>
                <td>{{car.make}}</td>
                <td>{{car.model}}</td>
                <td>{{car.year}}</td>
                <td>${{car.price}}</td>
                <td>{{car.safety}}/5</td>
            </tr>
        </tbody>
    </table>
</section>

    <!-- Team Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">SWEg</h1>
                    <h3 class="section-subheading text-muted">Meet The Team</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/Samuel.jpg" class="img-responsive img-circle" alt="">
                        <h4>Samuel You</h4>
                        <p class="text-muted">Front End</p>
                        <dl>
                            <dt>Bio:</dt>
                            <dd> Things about Charlie </dd>
                            <dt>Major Responsibilities:</dt>
                            <dd>Things Charlie did</dd>
                            <dt>Number of Commits:</dt>
                            <dd>TBA</dd>
                            <dt>Number of Issues:</dt>
                            <dd>TBA</dd>
                            <dt>Number of Unit Tests:</dt>
                            <dd>TBA</dd>
                        </dl>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/Adolfo.jpg" class="img-responsive img-circle" alt="">
                        <h4>Adolfo Muller</h4>
                        <p class="text-muted">Front End</p>
                        <dl>
                            <dt>Bio:</dt>
                            <dd> Things about Charlie </dd>
                            <dt>Major Responsibilities:</dt>
                            <dd>Things Charlie did</dd>
                            <dt>Number of Commits:</dt>
                            <dd>TBA</dd>
                            <dt>Number of Issues:</dt>
                            <dd>TBA</dd>
                            <dt>Number of Unit Tests:</dt>
                            <dd>TBA</dd>
                        </dl>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/Chris.jpg" class="img-responsive img-circle" alt="">
                        <h4>Chris Getz</h4>
                        <p class="text-muted">Backend</p>
                        <dl>
                            <dt>Bio:</dt>
                            <dd> Things about Charlie </dd>
                            <dt>Major Responsibilities:</dt>
                            <dd>Things Charlie did</dd>
                            <dt>Number of Commits:</dt>
                            <dd>TBA</dd>
                            <dt>Number of Issues:</dt>
                            <dd>TBA</dd>
                            <dt>Number of Unit Tests:</dt>
                            <dd>TBA</dd>
                        </dl>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/David.jpg" class="img-responsive img-circle" alt="">
                        <h4>David Talamas</h4>
                        <p class="text-muted">Full Stack</p>
                        <dl>
                            <dt>Bio:</dt>
                            <dd> Things about Charlie </dd>
                            <dt>Major Responsibilities:</dt>
                            <dd>Things Charlie did</dd>
                            <dt>Number of Commits:</dt>
                            <dd>TBA</dd>
                            <dt>Number of Issues:</dt>
                            <dd>TBA</dd>
                            <dt>Number of Unit Tests:</dt>
                            <dd>TBA</dd>
                        </dl>
                    </div>
                </div>
                 <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/Lincoln.jpg" class="img-responsive img-circle" alt="">
                        <h4>Lincoln Turner</h4>
                        <p class="text-muted">Full Stack</p>
                        <dl>
                            <dt>Bio:</dt>
                            <dd> Things about Charlie </dd>
                            <dt>Major Responsibilities:</dt>
                            <dd>Things Charlie did</dd>
                            <dt>Number of Commits:</dt>
                            <dd>TBA</dd>
                            <dt>Number of Issues:</dt>
                            <dd>TBA</dd>
                            <dt>Number of Unit Tests:</dt>
                            <dd>TBA</dd>
                        </dl>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <h4>Team Stats Summary</h4>
                        <dl>
                            <dt>Total no. of commits:<dd> 30</dd></dt>
                            <dt>Total no. of issues: <dd> 15</dd></dt>
                            <dt>Total no. of unit tests:<dd> 15</dd></dt>
                        </dl>
                    </div>
                </div>
            </div>
            <center>
            <h3>Data:</h3>
            <h4>
            <a href="http://developer.edmunds.com/api-documentation/overview/index.html">Edmund's Vehicle Dataset API</a><br>
            Edmund's API played a vital role in helping the team retrieve large amounts of vehicle data from numerous major manufacturers. This data allowed the team to establish unique models for different vehicles and manufacturers. Our hope is to help our users find their own perfect car by helping them understand the complex relationships between different makes and models from only the best manufacturers.<br>
            </h4>
            </center>
            <h3>External Links:</h3>
            <h4>
                <a href="http://docs.carsapi1.apiary.io">Apiary API</a><br>
                <a href="https://github.com/talamas/cs373-idb/issues">GitHub Issue Tracker</a><br>
                <a href="https://github.com/talamas/cs373-idb.git">GitHub Repo</a><br>
                <a href="https://github.com/talamas/cs373-idb/wiki">GitHub Wiki</a><br>
            </h4>
        </div>
    </section>

    <!-- cars Modals -->
    <!-- cars Modal 1 -->
    <div class="cars-modal modal fade" id="carsModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Aventador</h2>
                            <p class="item-intro text-muted">Aventador by Lamborghini.</p>
                            <img class="img-responsive img-centered modal-image" src="img/cars/aventador_preview.jpg" alt="">
                            <p><a href="http://www.lamborghini.com/en/models/aventador-lp-750-4-superveloce-roadster/overview/">The Aventador</a> is a mid-engined sports car produced by the Italian manufacturer Lamborghini. Launched on 28 February 2011 at the Geneva Motor Show, five months after its initial unveiling in Sant'Agata Bolognese, the vehicle, internally codenamed LB834, was designed to replace the ten-year-old Murciélago as the new flagship model</p>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        <h2 class="section-heading ">Related Manufacturers</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6 cars-item">
                                        <a href="#carsModal8" class="cars-link" data-toggle="modal" data-dismiss="modal">
                                            <div class="cars-hover">
                                                <div class="cars-hover-content">
                                                    <i class="fa fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img src="img/manufacturers/lamborghini.jpg" class="img-responsive" alt="">
                                        </a>
                                        <div class="cars-caption">
                                            <h4>Lamborghini</h4>
                                            <p class="text-muted">Automotive</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- cars Modal 2 -->
    <div class="cars-modal modal fade" id="carsModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Huracan</h2>
                            <p class="item-intro text-muted">Huracan by Lamborghini.</p>
                            <img class="img-responsive img-centered modal-image" src="img/cars/huracan_preview.jpg" alt="">
                            <p><a href="http://www.lamborghini.com/en/models/huracan-lp-610-4-avio/overview/">The Lamborghini Huracan </a>. (Spanish for "hurricane"; [uɾaˈkan]) is a sports car built by Lamborghini, replacing Lamborghini's sales leader and most produced car, the Gallardo. The Huracán made its auto show debut at the March 2014 Geneva Auto Show,[2] and was released in the second quarter of 2014.</p>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        <h2 class="section-heading ">Related Manufacturers</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6 cars-item">
                                        <a href="#carsModal8" class="cars-link" data-toggle="modal" data-dismiss="modal">
                                            <div class="cars-hover">
                                                <div class="cars-hover-content">
                                                    <i class="fa fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img src="img/manufacturers/lamborghini.jpg" class="img-responsive" alt="">
                                        </a>
                                        <div class="cars-caption">
                                            <h4>Lamborghini</h4>
                                            <p class="text-muted">Automotive</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- cars Modal 3 -->
    <div class="cars-modal modal fade" id="carsModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Centenario</h2>
                            <p class="item-intro text-muted">Centenario by Lamborghini.</p>
                            <img class="img-responsive img-centered modal-image" src="img/cars/centenario_preview.jpg" alt="">
                            <p><a href="http://www.lamborghini.com/en/models/centenario-lp-770-4/overview/">The Lamborghini Centenario </a>. is a mid-engine sports car produced by the Italian manufacturer Lamborghini. Initially unveiled on March 1, 2016 during the Geneva Motor Show, all 40 cars slated for production have already been sold, each for a price of €1.75 million Euros (or $1.9 million USD).</p>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        <h2 class="section-heading ">Related Manufacturers</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6 cars-item">
                                        <a href="#carsModal8" class="cars-link" data-toggle="modal" data-dismiss="modal">
                                            <div class="cars-hover">
                                                <div class="cars-hover-content">
                                                    <i class="fa fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img src="img/manufacturers/lamborghini.jpg" class="img-responsive" alt="">
                                        </a>
                                        <div class="cars-caption">
                                            <h4>Lamborghini</h4>
                                            <p class="text-muted">Automotive</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- cars Modal 4 -->
    <div class="cars-modal modal fade" id="carsModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>GTC4Lusso</h2>
                            <p class="item-intro text-muted">GTC4Lusso by Ferrari.</p>
                            <img class="img-responsive img-centered modal-image" src="img/cars/gtc4lusso_preview.jpg" alt="">
                            <p><a href="http://gtc4lusso.ferrari.com/en_us/">The Ferrari GTC4Lusso </a> is a four-seater grand tourer produced by Italian car manufacturer Ferrari. It was unveiled on 8 February 2016, ahead of its world première at the Geneva Motor Show. Like the Ferrari FF it replaces, the GTC4Lusso is a 3-door shooting-brake with four-wheel drive, and is powered by a front-mid mounted 6.3-litre V12.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- cars Modal 5 -->
    <div class="cars-modal modal fade" id="carsModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Berlinetta</h2>
                            <p class="item-intro text-muted">Berlinetta by Ferrari.</p>
                            <img class="img-responsive img-centered modal-image" src="img/cars/berlinetta_preview.jpg" alt="">
                            <p><a href="http://auto.ferrari.com/en_US/sports-cars-models/car-range/f12-berlinetta/">The Berlinetta</a> (from Italian: berlinetta; Italian pronunciation: [berliˈnetta]) is an especially sporty form of coupé. Typically a two-seater, the type may include 2+2s.
                                The original meaning for berlinetta in Italian is “little saloon”.
Introduced in the 1930s, the term was popularized by Ferrari in the 1950s. Maserati, Opel, Alfa Romeo, and other European car manufacturers have also used the Berlinetta label. 
In North America, Chevrolet also produced a version of the Chevrolet Camaro called the Berlinetta, from 1979 to 1986. The model offered European styling touches to emphasize the interior rather than the performance of the car, which had long been the main selling point of the Camaro.</p>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        <h2 class="section-heading ">Related Manufacturers</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6 cars-item">
                                        <a href="#carsModal7" class="cars-link" data-toggle="modal" data-dismiss="modal">
                                            <div class="cars-hover">
                                                <div class="cars-hover-content">
                                                    <i class="fa fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img src="img/manufacturers/ferrari.jpg" class="img-responsive" alt="">
                                        </a>
                                        <div class="cars-caption">
                                            <h4>Ferrari</h4>
                                            <p class="text-muted">Automotive</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- cars Modal 6 -->
    <div class="cars-modal modal fade" id="carsModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>LaFerrari</h2>
                            <p class="item-intro text-muted">LaFerrary by Ferrari.</p>
                            <img class="img-responsive img-centered modal-image" src="img/cars/laferrari_preview.jpg" alt="">
                            <p><a href="http://auto.ferrari.com/en_US/sports-cars-models/car-range/laferrari/">LaFerrari </a> (project name, F150) is a limited production hybrid sports car built by Italian sports car maker Ferrari. The car and its name were officially unveiled at the 2013 Geneva Auto Show. It is based on findings from testing of the Ferrari FXX and on research being conducted by the Millechili Project at the University of Modena. Association with the Millechili Project led to speculation during development that the car would weigh under 1,000 kg (2,205 lb), but a dry weight of around 1,255 kg (2,767 lb) was claimed. Only 499 units have been built, and each cost more than 1 million US dollars.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- cars Modal 7 -->
    <div class="cars-modal modal fade" id="carsModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Ferrari</h2>
                            <p class="item-intro text-muted">Automotive.</p>
                            <img class="img-responsive img-centered modal-image" src="img/manufacturers/ferrari.jpg" alt="">
                            <p><a href="http://www.ferrari.com/en_us/auto">Ferrari N.V. </a>  is a dutch company which controls Ferrari S.p.A., an Italian luxury sports car manufacturer based in Maranello. Founded by Enzo Ferrari in 1939 as Auto Avio Costruzioni, the company built its first car in 1940. However, the company's inception as an auto manufacturer is usually recognized in 1947 when the first Ferrari-badged car was completed.

Ferrari is the world's most powerful brand according to Brand Finance.[6] In May 2012 the 1962 Ferrari 250 GTO became the most expensive car in history, selling in a private transaction for $38,115,000 to American communications magnate Craig McCaw.</p>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        <h2 class="section-heading ">Related Cars</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6 cars-item">
                                        <a href="#carsModal5" class="cars-link" data-toggle="modal" data-dismiss="modal">
                                            <div class="cars-hover">
                                                <div class="cars-hover-content">
                                                    <i class="fa fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img src="img/cars/berlinetta.jpg" class="img-responsive" alt="">
                                        </a>
                                        <div class="cars-caption">
                                            <h4>Berlinetta</h4>
                                            <p class="text-muted">Ferrari.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- cars Modal 8 -->
    <div class="cars-modal modal fade" id="carsModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Lamborghini</h2>
                            <p class="item-intro text-muted">Automotive.</p>
                            <img class="img-responsive img-centered modal-image" src="img/manufacturers/lamborghini.jpg" alt="">
                            <p><a href="http://www.lamborghini.com/en/home/">Automobili Lamborghini S.p.A </a>   (Italian: [lamborˈɡiːni] ( listen)) is an Italian brand and manufacturer of luxury sports cars and, formerly, SUVs, which is owned by the Volkswagen Group through its subsidiary brand division Audi. Lamborghini's production facility and headquarters are located in Sant'Agata Bolognese, Italy. In 2011, Lamborghini's 831 employees produced 1,711 vehicles.</p>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        <h2 class="section-heading ">Related Cars</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6 cars-item">
                                        <a href="#carsModal1" class="cars-link" data-toggle="modal" data-dismiss="modal">
                                            <div class="cars-hover">
                                                <div class="cars-hover-content">
                                                    <i class="fa fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img src="img/cars/aventador.jpg" class="img-responsive" alt="">
                                        </a>
                                        <div class="cars-caption">
                                            <h4>Aventador</h4>
                                            <p class="text-muted">Lamborghini</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- cars Modal 9 -->
    <div class="cars-modal modal fade" id="carsModal9" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>McLaren</h2>
                            <p class="item-intro text-muted">Automotive.</p>
                            <img class="img-responsive img-centered modal-image" src="img/manufacturers/mclaren.jpg" alt="">
                            <p><a href="http://cars.mclaren.com/?_ga=1.53392043.2052479494.1458778494">The McLaren Technology Group</a> is a British conglomerate based in Woking, Surrey, United Kingdom. Founded shortly after Ron Dennis' acquisition of the McLaren Formula One team in 1981, it was originally named the TAG McLaren Group due to a partnership with Mansour Ojjeh's TAG Group. It was renamed to simply the McLaren Group in 2003, then to its current name in 2015, after an increased focus in the technology industry. The Group was originally formed from a Formula One team established by New Zealander Bruce McLaren in 1963 and is now focused around the McLaren Honda Formula One Racing Team, the group's second most profitable company.</p>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        <h2 class="section-heading ">Related Cars</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6 cars-item">
                                        <a href="#carsModal10" class="cars-link" data-toggle="modal" data-dismiss="modal">
                                            <div class="cars-hover">
                                                <div class="cars-hover-content">
                                                    <i class="fa fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img src="img/cars/mclarenp1_preview.jpg" class="img-responsive" alt="">
                                        </a>
                                        <div class="cars-caption">
                                            <h4>McLaren P1</h4>
                                            <p class="text-muted">McLaren.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- cars Modal 10-->
    <div class="cars-modal modal fade" id="carsModal10" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>McLaren P1</h2>
                            <p class="item-intro text-muted">McLaren.</p>
                            <img class="img-responsive img-centered modal-image" src="img/cars/mclarenp1_preview.jpg" alt="">
                            <p><a href="http://cars.mclaren.com/P1">The McLaren P1</a>  is a limited production plug-in hybrid sports car by British automotive manufacturer McLaren Automotive. The concept car debuted at the 2012 Paris Motor Show.[4] Deliveries to retail customers began in the UK in October 2013.[5] The entire P1 production of 375 units was sold out by November 2013.[6] The production run ended in December 2015.[7] The United States accounted for 34% of the limited production run, and Europe for 26%.</p>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        <h2 class="section-heading ">Related Manufacturers</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6 cars-item">
                                        <a href="#carsModal9" class="cars-link" data-toggle="modal" data-dismiss="modal">
                                            <div class="cars-hover">
                                                <div class="cars-hover-content">
                                                    <i class="fa fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img src="img/manufacturers/mclaren.jpg" class="img-responsive" alt="">
                                        </a>
                                        <div class="cars-caption">
                                            <h4>McLaren</h4>
                                            <p class="text-muted">Automotive.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>


</body>

</html>
